.actions {
  text-align: right;
  width: 100%;
}

.actions div {
  display: inline-block;
}

.actions img {
  cursor: pointer;
  display: inline-block;
}

.actions .currencyChanger {
  margin-left: 10px;
  position: relative;
  z-index: 3;
}

.actions .currencyOverlay {
  position: absolute;
  top: -2000px;
  left: -2000px;
  width: 2000vw;
  height: 2000vh;
  background-color: transparent;
  z-index: -1;
  display: none;
}

.actions .currencyChanger .currencyOptions {
  position: absolute;
  top: 25px;
  left: -25px;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(198, 198, 198);
  display: none;
  width: fit-content;
  z-index: 50;
  transition: 0.3s;
}

.actions .currencyChanger .currencyOptions ul {
  list-style: none;
  text-align: left;
  overflow: hidden;
}

.actions .currencyChanger .currencyOptions ul li {
  padding: 8px 35px 8px 10px;
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
}

.actions .currencyChanger .currencyOptions ul li:hover {
  background-color: #eeeeee;
}

.actions .cartIcon {
  margin-left: 15px;
  position: relative;
}

.fullCart::before {
  content: attr(data-quantity);
  position: absolute;
  background-color: black;
  color: white;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-weight: 700;
  font-size: 13px;
  border-radius: 50%;
  top: -12px;
  right: -12px;
}
