.attributeContainer {
  font-size: 10px;
}

.attributeContainer .attributeHolder h3 {
  margin: 2px 3px 2px 0;
  padding: 5px 8px;
}

.attributeHolder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: black;
  text-align: center;
}

.attributeHolder h3 {
  margin: 5px 10px 5px 0;
  border: 2px solid black;
  padding: 10px 12px;
  transition: 0.3s;
}

.selected {
  color: white;
  background-color: black;
}
